.markdown-body {
    font-size: 16px;
}

.markdown-body > h1,
.markdown-body > h2 {
    text-align: center;
    border: none;
}

.markdown-body > h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.markdown-body > h2 {
    margin-top: 12px;
    color: rgb(100,100,100)
}

.markdown-body > table > thead {
    display: none;
}

.contacts {
    font-size: 14px;
    text-align: right;
    font-style: italic;
}
